/*
* @author Michael Lohr
* Student ID 21310937
* 8/30/2021
* Module 5.2 assignment
*/

#image-gallery {
    display: grid;
    margin-top: 10%;
    grid-template-columns: auto auto auto;
  }

  h1,h3,figure {
      text-align: center;
      background-color:rgba(255,0,0,0.7);
  }
  img {
      width: 400px;
      height: 350px;
  }

  h1,h3 {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    font-weight: 400;
  }
  figcaption: {
    font-style: italic;
    font-size: 75em;
}
.gallery{
    border: 1px solid red;
    border-radius: 15px;
    padding: 5px;
}
#back-to-portal {
    float: right;
}
